:host {
    --slds-c-card-color-background: #f7f9fb;
}
h3 {
    color: #014486; /* Dark Salesforce blue */
    font-size: 2rem;
}
.slds-table {
    background: white;
    border-radius: 0.25rem;
}
.slds-table th {
    background: #f3f3f3;
}